<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/projects">Projects</a></li>
    <li class="breadcrumb-item active">Edit Project</li>
  </ol>
</nav>

<h2>Project Information</h2>
@if (feedback.message) {
  <div class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
}
@if (project) {
  <form #editForm="ngForm" (ngSubmit)="save()">
    @if (project.id) {
      <mat-form-field class="full-width">
        <mat-label>ID</mat-label>
        <input matInput [value]="'XYZ-' + project.id" id="id" name="id" placeholder="ID" readonly
               matTooltip="ID cannot be edited" matTooltipPosition="above">
      </mat-form-field>
    }
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="project.name" id="name" name="name" placeholder="Name" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="project.description" id="description" name="description" placeholder="Description" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Status</mat-label>
      <input matInput [(ngModel)]="project.status" id="status" name="status" placeholder="Status" required>
    </mat-form-field>

    @if (project.users.length) {
      <h3>Users</h3>
    }
    @for (user of project.users; track user; let i = $index) {
      <div class="full-width">
        <mat-form-field style="width: 33%" class="field-spacing">
          <mat-label>Consultant Name</mat-label>
          <input matInput [(ngModel)]="project.users[i].name" name="project.users[{{i}}].name" placeholder="name">
        </mat-form-field>
        <mat-form-field style="width: 33%" class="field-spacing">
          <mat-label>Consultant Email</mat-label>
          <input matInput [(ngModel)]="project.users[i].email" name="project.users[{{i}}].email" placeholder="email">
        </mat-form-field>
        <mat-form-field style="width: 32.5%" class="field-spacing">
          <mat-label>Position</mat-label>
          <input matInput [(ngModel)]="project.users[i].position" name="project.users[{{i}}].position" placeholder="position">
        </mat-form-field>
        <button mat-icon-button (click)="removeUser(i)" aria-label="Remove User"
                style="float: right; margin: -70px -5px 0 0">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
    <div class="button-row" role="projects">
      @if (project.id) {
        <button type="button" mat-mini-fab color="accent" (click)="addUser()"
                aria-label="Add User" matTooltip="Add User"
                style="float: right; margin-top: -4px">
          <mat-icon>add</mat-icon>
        </button>
      }
      <button type="button" mat-raised-button color="primary" (click)="save()" [disabled]="!editForm.form.valid">Save Project</button>
      <button type="button" mat-button color="accent" (click)="cancel()">Cancel</button>
    </div>
  </form>
}
