.admin-content{
  padding: 1cm;
  font-size: 1.5rem;
  border-radius: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center the text inside the link */
  margin: 0 auto; /* Center horizontally */
}
