<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style>
<mat-toolbar role="banner" color="primary">
  <svg id="clock-icon" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="#fff" class="icon-space">
    <path d="M32 6C18.8 6 8 16.8 8 30s10.8 24 24 24 24-10.8 24-24S45.2 6 32 6zm0 44c-11 0-20-9-20-20s9-20 20-20 20 9 20 20-9 20-20 20zm1-23V16c0-1.1-.9-2-2-2s-2 .9-2 2v13c0 .3.1.6.2.8l10 10c.8.8 2.1.8 2.8 0s.8-2.1 0-2.8L33 27z"/>
  </svg>
  <a routerLink="/" class="icon-space">
    <span>{{ title }}</span>
  </a>
  <div class="spacer"></div>
  <a aria-label="GitHub Profile" target="_blank" rel="noopener" href="https://github.com/eXiled4" title="GitHub" class="icon-space">
    <svg height="35" viewBox="0 0 16 16" version="1.1" width="35" aria-hidden="true">
      <path fill="#ffffff" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"/>
    </svg>
  </a>
  <a aria-label="LinkedIn Profile" target="_blank" rel="noopener" href="https://www.linkedin.com/in/julian-teo-a11699238" title="LinkedIn" class="icon-space">
    <svg id="linkedin-logo" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#fff">
      <path d="M426.1 13H85.9C66.5 13 51 28.5 51 47.9v416.3c0 19.3 15.5 34.8 34.9 34.8h340.1c19.4 0 34.9-15.6 34.9-34.9V47.9c.1-19.4-15.4-34.9-34.8-34.9zM167 407h-57V202h57v205zm-29.2-234c-18.1 0-32.7-14.6-32.7-32.6s14.7-32.7 32.7-32.7 32.7 14.6 32.7 32.6c0 18.1-14.6 32.7-32.7 32.7zM395 407h-57V303c0-26-10-43.6-34.5-43.6-18.8 0-30 12.7-35 24.9-1.8 4.3-2.3 10.2-2.3 16.2v105.5h-57s.8-171 0-189h57v26.8c7.5-11.6 21-28.2 51.1-28.2 37.3 0 65.2 24.5 65.2 77.1v113.3z"/>
    </svg>
  </a>

</mat-toolbar>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<router-outlet />
