.content {
  display: flex;
  margin: 10px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: stretch;
}

.spacer {
  flex: 1 0 auto
}

.icon-space {
  margin-right: 0.7rem;
}

a.icon-space {
  text-decoration: none;
  color: inherit;
}

